/* @import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Asap', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.mob-shadow {
  box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.75);
}


.latest-newsCards {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}


.shadow-mob {
  box-shadow: 0px 0px 6px 2px rgba(212, 212, 212, 0.75);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(212, 212, 212, 0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(212, 212, 212, 0.75);
}


.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 50px;
}

.thumbnail .keen-slider__slide {
  cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
  border: 2px solid black;
  width: 100px;
}



.specs-heading-bg {
  background-color: rgba(168, 216, 160, 0.97);
}

.blog-heading p {
  position: relative;
  margin-right: 10px;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
}

.blog-heading:hover p {
  color: #008339;

}

.blog-heading p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #008339;
  transition: .3s;

}

.blog-heading:hover p::before {
  width: 100%;
  color: #008339;
}



.modal-open {
  overflow: hidden;
}